LINGXING_OPENAPI_HOST=https://openapi.lingxing.com
LINGXING_WEB_HOST=https://gw.lingxingerp.com
LINGXING_FRONTEND_HOST=https://vayi.lingxing.com

LINGXING_APP_ID=
LINGXING_APP_SECRET=
OPENAPI_REQUEST_TIMEOUT_SECONDS=20
OPENAPI_TOKEN_TIMEOUT_SECONDS=12
OPENAPI_RETRIES=2
OPENAPI_RETRY_MAX_BACKOFF_SECONDS=6
OPENAPI_MIN_INTERVAL_SECONDS=1.2
OPENAPI_RATE_LIMIT_COOLDOWN_SECONDS=6
OPENAPI_TIMEOUT_COOLDOWN_SECONDS=2
LINGXING_WEB_ACCOUNT=
LINGXING_WEB_PASSWORD=
LINGXING_AUTH_CACHE_FILE=auth.json
LINGXING_AUTH_CACHE_TTL_SECONDS=430000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=api_access_token
MYSQL_CONNECT_TIMEOUT_SECONDS=3

PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DATABASE=postgres
PG_SCHEMA=vayidw

MONGO_URI=mongodb://user:password@127.0.0.1:27017/
MONGO_DB=lingxing
MONGO_VIEW_URI=mongodb://127.0.0.1:27017/
MONGO_VIEW_DB=my_database

K3_APP_ID=
K3_ACCOUNT=
K3_APP_SECRET=
K3_SERVICE_SECRET=
K3_BASE_URL=

ALLOWED_TRUNCATE_TABLES=lx_web_fba_inventory,lx_inventory_by_wyt,kd_v_just_inventory_eng
OPENAPI_ALLOWED_PATHS=
WEB_ALLOWED_HOSTS=gw.lingxingerp.com,vayi.lingxing.com
ENFORCE_OPENAPI_WHITELIST=false
ENFORCE_WEB_HOST_WHITELIST=true
